/*-------------------------------
        setting the fonts
---------------------------------*/
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
/*-------------------------------
            the header 
--------------------------------*/
.header{
    background-color: #FFF8F3 ;
    background-image: url('images/header_bg.png'),url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.hire{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    width: max-content;
    color: #FFFFFF;
    background-color: #FD6E0A;
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
}
.special-char{
    color: #FD6E0A;
}
/*-------------------------------
            the navbar 
---------------------------------*/
.nav-title{
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}
.nav{
     display: flex;
     justify-content: space-between;
     padding: 50px 150px;
}
.nav ul{
     display: flex;
     align-items: center;
}
.nav li{
     list-style: none;
     margin-right: 50px;
}
/*-------------------------------
        the intro section 
---------------------------------*/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px 8px;
    }
.entry{
    font-weight: 600;
    font-size: 3rem;
}
.author{
    font-weight: 700;
    font-size: 6rem;
    padding-top: 5px;
    padding-bottom: 20px;
}
.intro{
    font-size: 18px;
    color: #757575;
    padding-bottom: 30px;
}
.button-1{
    background-color: #FD6E0A;
    color: #FFFFFF;
    margin-right: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;

}
.button-2{
    color: #FD6E0A;
    background-color: #FFFFFF;
    display: inline-block;
    padding: 20px;
    border: 2px solid #FD6E0A;
    border-radius: 10px;
}
.main-image{
    margin-bottom: -13px;
}
/*-------------------------------
        the about section 
---------------------------------*/
.about-section{
    background: #FFF8F3;
    border-radius: 10px;
    text-align: center;
    margin:4% 15%;
    padding:5% 6%;
}
.section-title{
    font-weight: 700;
    font-size: 2em;
    color: #181818;
    
}
.section-description{
   font-size: 18px;
   color: #757575;
   padding-top: 30px;
   padding-bottom: 30px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;   
}
.info-main{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}
/*-------------------------------
      the what i do section 
---------------------------------*/
.what-i-do-container{
    padding: 80px 100px;
}
.what-title{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;    
}
.what-description{
    text-align: center;
    color: #757575;
    padding: 40px 30px 80px;
}

/*-------------------------------
      the skill section
---------------------------------*/
.skill-group{
    display: flex;
    gap: 20px;
}
.skill-individual{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 20px;
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}
.skill-description{
    font-size: 16px;
    color: #757575;
}
/*-------------------------------
      the education section
---------------------------------*/
.education-title{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;
    margin-top: 50px;
    padding-bottom: 100px;

}
.education-sub-title{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    text-align: left;   
}
.education{
    display: flex;
    gap: 30px;
    padding-right: 180px; 
    padding-left: 180px;
}
.item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.item-title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    padding-bottom: 30px;
}
.item-sub-title{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    padding-top: 10px;
    padding-bottom: 20px;
}
.item-title-description{
    font-size: 14px;
    color: #757575;
}
hr{
    width: 90%;
    border: 1px solid #D1D1D1;
}
.resume-btn{
    margin: 50px;
    text-align: center;
}
.button-01{
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    padding: 20px;
    border-radius: 10px;   
}
/*-------------------------------
      the navigation section
---------------------------------*/
.footer{
    display: flex;
    gap: 100px;
    background-color:#FFF8F3;
    padding:4% 5%;
}
.c-heading .c-message{
    font-weight: 700;
    font-size: 1.7em;
    text-align: center;
    color: #181818;
}
a{
    text-decoration: none;
}
.c-des{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #474747;
}
.message input[type="text"], input[type="email"], textarea{
    margin-top: 25px;
    border: none;
    padding-left: 30px;
    width: 100%;
}
input{
    margin-top: 30px;
    height: 60px;
}


/*-------------------------------
      for mobile devices
---------------------------------*/
@media only  screen  and (max-width:576px) {
    .header{
        background-image: none;
    }
    .banner, .nav, .education,.about-section, .what-i-do-container, .skill-group, .whatIDo, .about-info, .footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        margin: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav{
        justify-content: center;
        align-items: center;
    }
    .nav ul{
        padding-top: 50px;
        flex-direction: column;
        gap: 20px;
    }
    .entry{
        text-align: center;
        font-size: 2rem;
    }
    .author{
        text-align: center;
        font-size: 3rem;
    }
    .intro{
        text-align: center;
        font-size: 16px;
        padding-bottom: 30px;
    }
    .btn-container{
        width: auto;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }
    .message input[type="text"], input[type="email"], textarea{
        padding: 0px 0px 0px 5px;
    }
}
/*-------------------------------
      for medium devices
---------------------------------*/
@media only screen and (min-width:576px) and (max-width:992px) {
    .header{
        background-image: none;
    }
    .banner, .nav, .education, .about-section, .what-i-do-container, .whatIDo, .about-info, .footer {
        flex-direction: column;
        gap: 30px;
        text-align: center;
        margin: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .skill-group{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .message input[type="text"], input[type="email"], textarea{
        padding: 0px 0px 0px 10px;
    }
}

